
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
*{
    margin:0;
    border:0;
    padding: 0;
    box-sizing:border-box;
}
.chamada{
    text-align:left;
    margin-bottom:2rem;
}
.background{
    /*font-size: 0;*/

    width: 50%;
    display: inline-block;
    float:left;
    margin-bottom:2rem;
}

.FormsLogin{
    width: 50%;
    background: rgb(243, 239, 0);
    display: flex;
    float: left;
    padding: 150px 100px;

    margin-bottom:5rem;
}
.FormsLogin h2{
   
    text-align: center;
    height: 15px;
    position: relative;
    top: -130px;
    bottom: -80px;
    left: 150px;
    right: 150px;
    margin: auto;

}
.btn-dark{
    border: 0;
  padding: 10px;
  width: 200px;
  height: 40px;
  display:inline-block;
  margin: 10px;
  cursor:auto;
  border-radius: 4px;
    
}

.botao{
    bottom: -100px;
}